<div class="container">
  <h2>Tic-Tac-Toe!</h2>

  <div *ngIf="showStart" class="main">
    <a href="#" (click)="onStartGame()" class="button"> Start </a>
  </div>

  <div *ngIf="showBoard" class="board">
    <ul>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom"></li>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom kz-border-right"></li>
      <li class="kz-border-bottom"></li>
      <li class="kz-border-right"></li>
      <li class="kz-border-right"></li>
      <li></li>
    </ul>
  </div>

  <div *ngIf="showEnd" class="game-over">
    <span>
      <p>You won!!!</p>
      <p>You lost!</p>
      <p>Draw!!</p>
      <br />
      <a href="#" class="button">Play again</a>
    </span>
  </div>
</div>
